.container{
width: 800px;
height: 800px;

}

.profile-content{
margin-top: 30px;

}

.content{

    margin-top: 50px;
}

.left-menu{
    height: 70%;
    width: 30%;
    float: left;
    background: red;
}
.right-menu{

    width: 70%;
    height: 70%;
    background: coral;
}

.profile-image{
    width: 75px;
    height: 75px;
  position: relative;
  bottom: 20px;
    float: left;
}